.btn {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    width: 3.25rem;
    height: 2rem;
    box-shadow: 0 0 2px 1px black;
    position: relative;
    padding: 2px;
    padding-top: 0;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.digit {
    font-family: 'Days One';
    font-size: 1rem;
    color: #112681;
    position: absolute;
    left: 15%;
    top: 0;
}

.dot {
    font-family: 'Days One';
    font-size: 1.8rem;
    color: #112681;
    position: absolute;
    left: 18%;
    top: -60%;
}