.screen-container {
    height: 20%;
    width: 100%;
    background-color: #1b4ca8;
    border-bottom: 2px solid #112681;
    border-top: 2px solid #112681;
    display: flex;
    justify-content: space-between;
    align-items: center;
}