.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Seven Segment';
    font-size: 3.35rem;
    letter-spacing: -.14rem;
    background-color: #989898;
    width: 80%;
    height: 85%;
    padding-right: .25rem;
    box-shadow: inset 0 0 10px black;
    position: relative;
}

.negative {
    position: absolute;
    left: 1%;
}

.memory {
    font-family: 'Days One';
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    left: 4%;
    top: 2%;
}