.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Seven Segment';
    font-size: 3.4rem;
    letter-spacing: -.11rem;
    background-color: #989898;
    width: 80%;
    height: 85%;
    padding-right: .25rem;
    box-shadow: inset 0 0 10px black;
    position: relative;
}

.negative {
    position: absolute;
    left: 1%;
}