@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@font-face {
    font-family: 'American Typewriter';
    src: url(../../../public/AmericanTypewriterBQ-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Seven Segment';
    src: url(../../../public/seven-segment.ttf);
    font-weight: normal;
}

.logo-container {
    height: 30%;
    width: 100%;
    background-color: #1b4ca8;
    display: flex;
    justify-content: space-between;
    padding: .4rem .75rem;
    border-bottom: 2px solid #112681;
}

.logo-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    
}

.solar-panel-container {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #9f673f;
    height: 60%;
    width: 80%;
    padding: 0px 2px;
    margin-left: 2px;
    box-shadow: inset 0 0 4px black;
}

.solar-panel {
    width: 100%;
    height: 95%;
    background-color: #896347;
}

.model-container {
    display: flex;
    align-items: flex-start;
}

h1 {
    margin: 0;
    color: white;
    font-size: 1.75rem;
    font-family: 'American Typewriter';
    letter-spacing: .1rem;
}

