.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 12%;
    height: 100%;
    margin-bottom: .4rem;
    margin-top: .4rem;
    gap: .07rem;
}

.dot {
    background-color: rgba(255, 255, 255, 0.092);
    height: 2.5px;
    width: 5px;
    border-radius: 50%;
}