.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1b4ca8;
}

.main-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    row-gap: 1rem;
    width: 65%;
    margin: .5rem;
    margin-left: .6rem;
}

.operands-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: .5rem;
    margin-right: .6rem;
}