.container {
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: 90%;
    border-radius: .25em;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 2.5px solid #112681;
}