.btn {
    background-color: #bd1e18;
    outline: none;
    border: none;
    border-radius: 2px;
    width: 3.25rem;
    height: 2rem;
    box-shadow: 0 0 2px 1px black;
    position: relative;
    padding: 2px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: #a71813;
    cursor: pointer;
}

.digit {
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    position: absolute;
    left: 18%;
    top: 0;
}

.large-digit {
    font-family: sans-serif;
    font-size: 1.1rem;
    color: white;
    position: absolute;
    left: 18%;
    top: 0%;
    padding: 0;
    margin: 0;
}