.btn {
    background-color: #bd1e18;
    outline: none;
    border: none;
    border-radius: 2px;
    width: 2.5rem;
    height: 1.5rem;
    box-shadow: 0 0 2px 1px black;
    position: relative;
}

.btn:hover, .btn:focus {
    background-color: #a71813;
}

.digit {
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    left: 20%;
}