.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 12%;
    gap: .12rem;
}

.dot {
    background-color: rgba(255, 255, 255, 0.092);
    height: 2.5px;
    width: 5px;
    border-radius: 50%;
}