.btn {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    width: 3.25rem;
    height: 2rem;
    box-shadow: 0 0 2px 1px black;
    position: relative;
}

.btn:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.digit {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #112681;
    position: absolute;
    top: 3%;
    left: 15%;
    padding-top: .1rem;
}